tbody{
    background-color: gray;
    
    

    
}

h1{
    color: tomato;
    text-align: center
}

.table{
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.cell {
    color: gray;
    border: 2px solid black;
    width: 22px;
    height: 22px;
    text-align: center
    
}

.shown{
    color: black
    
}

.marked{
    background-color: gray 
}

.timer-container{
    margin: 5px;
    height: 35px;

}

.timer{
    display: flex;
    padding: 10px;
    justify-content: center

}

.levels{
    display: none;    
    justify-content: center;  

}

.Easy{
    background-color: #7bc34a;
    margin: 10px;
    border-radius: 5px;
    border-color: black;
}

.Medium{
    background-color: #ffff00a3;
    margin: 10px;
    border-radius: 5px;
    border-color: black;
}

.Hard{
    background-color: red;
    margin: 10px;
    border-radius: 5px;
    border-color: black;

}

.start{
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
    
}

.start button{
    width: 40px;
    height: 40px;
    background-color: tomato;
    margin: 0 auto;
}

.Hint{

    display: none;
    justify-content: center;
    margin: 10px;
}

.Hint button{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: black;
}

.popup{
    display: none;
    position: absolute;
    top: 30px;
    border-radius: 2em;
    padding: 9px;
    text-align: center;
    border: 1px dashed tomato;
}